  <section class="container">
    <div fxLayout="row">

      <mat-form-field appearance="fill" class="form_input">
        <mat-label>Tipo de Combustivel</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let combustivel of combustiveis"
            [value]="combustivel"
            >{{ combustivel }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form_input">
        <mat-label>Ano de Fabricação</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let ano of anos" [value]="ano">{{
            ano
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form_input">
        <mat-label>Faixa de Preço</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let preco of precos" [value]="preco">{{
            preco
          }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </section>
