.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.title-page {
  text-align: center;
  font-size: 24px;
}

.card_carro {
  padding: 5%;
  margin-bottom: 100px;
}

.branch-name{
  text-align: center;
  font-size: 14px;
}

.mat-card-header-text {
  margin: 0px;
}

.example-card {
  max-width: 300px;
}

.example-header-image1 {
  background-image: url('/assets/img/cards/1.jpg');
  background-size: cover;
}

.example-header-image2 {
  background-image: url('/assets/img/cards/2.jpg');
  background-size: cover;
}

.example-header-image3 {
  background-image: url('/assets/img/cards/3.jpg');
  background-size: cover;
}
