.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #f76600;
  }

  .footer>span {
    font-size: 1.1rem;
    font-weight: 300;

  }
